.container3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding-top: 80px;
    width: 100%;
    height: 100vh;
}

img{
    max-width: 80px;
}

a{
    text-decoration: none;
    font-size: 0.8rem;
}

p{
    font-size: 01.2rem;
}